

    <div class="body-left">
      <%= image_tag(track.album.images.first['url'])%>
      <h4 ><%= link_to(track.artists.first.name, "https://open.spotify.com/artist/#{track.artists.first.id}", target:"_blank") %> </h4>
    </div>

    <div class="body-right">
      <ol>
      <% track.album.tracks.each do |trk| %>
        <li> <%=trk.name %> </li>
      <% end %>
      </ol>
    </div>
