
<!-- HOME INDEX -->

<%= render partial: 'shared/navbar', locals: {active: 'Home'} %>


<div class="contain" >

  <h1> Welcome to Musix. Sign in below to see your playlists.</h1>

  <%= link_to 'Sign in with Spotify', '/auth/spotify' %>

</div><!-- /.container -->
