
<!-- HOME INDEX -->

<%= render partial: 'shared/navbar', locals: {active: 'Home'} %>


<div class="contain" >

  <h1> Welcome to Musix. Sign in below to see your playlists.</h1>

  <%= link_to('/auth/spotify') do %><%= image_tag("log_in-desktop.svg", class:"login-button") %> <% end %>

</div><!-- /.container -->
