

div.modal{


  div.modal-body{

    height:600px;
    display: inline-block;

    div.body-left{
      width: calc(1/3);
      float: left;

      img{
        width:250px;

      }
    }

    div.body-right{
      float:left;
      width: calc(2/3);
    }





  }
}
