

div.modal{

  div.modal-content{
    background: black;
    color:white;

    a{
      color: white;
    }

    a.active{
      color: #73b305; //spotify green
    }

    button{
      color:white;
    }

    div.modal-body{

      height:500px;
      width:600px;
      display: inline-block;
      font-size: 20px;


      div.body-left{
        width: 50%;
        float: left;

        img{
          width:250px;

        }
      }

      div.body-right{
        float:left;
        width: 50%;
        overflow-y: auto;
        height: 400px;
      }





    }
  }
}
