
<!-- PLAYLISTS INDEX -->

<%= render partial: 'shared/navbar', locals: {active: 'Playlists'} %>



<div class="contain" >

<div id="display_ajax">
     <p>LOADING</p>
</div>



</div><!-- /.container -->
